.container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

div.card {
    border: 1vh solid black;
    width: 90vh;
    height: 90vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.boomer {
    width: 196%;
}

@media only screen and (min-width: 1600px) {
    div.card {
        align-items: flex-start;
    }
}

@media only screen and (max-width: 1600px) and (min-width: 1400px) {
    div.card {
        align-items: flex-end;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    div.card {
        align-items: flex-start;
    }
    .boomer {
        margin-top: -96%;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
    div.card {
        align-items: flex-end;
    }
    .boomer {
        margin-top: -96%;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
    div.card {
        align-items: flex-start;
    }
    .boomer {
        margin-top: -96%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
    div.card {
        align-items: flex-end;
    }
}

@media only screen and (max-width: 600px) {
    div.card {
        align-items: start;
    }
}